
Backups/1.2/workspace_wordpress.tar.zst
Backups/1.2/workspace_maria_db.tar.zst
Backups/1.2/wordpress.tar
Backups/1.2/phpmyadmin.tar
Backups/1.2/nginx-proxy-manager.tar
Backups/1.2/keycloak.tar
Backups/1.2/db.tar
Backups/1.1/workspace_wordpress.tar.zst
Backups/1.1/workspace_maria_db.tar.zst
Backups/1.1/wordpress.tar
Backups/1.1/phpmyadmin.tar
